@charset "UTF-8";

.sub .inner {
	max-width: 1100px;
	width: 80%;
	margin: 0 auto;
}

#content {
	float: left;
	width: 60%;
	.textlink {
		color: @yellow;
		text-decoration: underline;
		margin-top: 20px;
		display: block;
		float: right;
		&:hover {
			color: @grey;
		}
	}
}

#options {
	float: right;
	width: 22%;
	background-color: @grey;
	padding: 20px;
	h4, .forms-header {
		.osbold;
		font-size: 24px;
		color: #fff;
		&.last {
			margin-top: 20px;
		}
	}
	li {
		margin-left: 0;
		a {
			color: #fff;
			text-decoration: none;
			.os-italic;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
}
#container {
	float: left;
	width: 78%;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
	width: 25px!important;
	height: 25px!important;
	padding: 4px!important;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
	background-color: @yellow!important;
	border-color: @grey!important;
}
.cse .gsc-control-cse, .gsc-control-cse {
	padding: 10px!important;
}
.gsc-control-cse {
	background-color: @light;
	border: none!important;
}
.cse input.gsc-search-button, input.gsc-search-button {
	border: none!important;
}












