@charset "UTF-8";

.sub .inner {
	max-width: 1100px;
	margin: 0 auto;
}

#content {
	float: left;
	width: 60%;
	.textlink {
		color: @yellow;
		text-decoration: underline;
		margin-top: 20px;
		display: block;
		float: right;
		&:hover {
			color: @grey;
		}
	}
}

#options {
	float: right;
	width: 20%;
	background-color: @grey;
	padding: 20px;
	h4 {
		.osbold;
		font-size: 24px;
		color: #fff;
		&.last {
			margin-top: 20px;
		}
	}
	li a {
		color: #fff;
		text-decoration: none;
		.os-italic;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		cursor: pointer;
	}
}
#container {
	float: left;
	width: 78%;
}















