@charset "UTF-8";

footer {
	width: 100%;
	border-bottom: 10px solid @yellow;
	#quote {
		width: 50%;
		float: left;
		padding: 52px 0 57px 10%;
		background: url("/_images/texture-blue.png") repeat left top transparent;
		min-height: 350px;
		img {
			float: left;
			width: 40%;
		}
		h6 {
			.os;
			font-size: 16px;
			line-height: 24px;
			color: @grey;
			float: left;
			margin: 20px 0 0 5%;
			width: 50%;
		}
	}
	#meeting {
		width: 50%;
		float: right;
		padding: 52px 10% 57px 0;
		background: url("/_images/texture-grey.png") repeat left top transparent;
		min-height: 350px;
		img {
			float: left;
			width: 40%;
			margin-left: 5%;
		}
		h6 {
			.os;
			text-transform: uppercase;
			font-size: 33px;
			color: #fff;
			float: left;
			margin: 20px 0 0 5%;
			width: 45%;
			line-height: 40px;
		}
		p {
			margin-left: 5%;
			width: 45%;
			float: left;
			.osbold;
			font-size: 20px;
			line-height: 30px;
			color: #fff;
			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					color: @yellow;
					text-decoration: underline;
					.transition;
				}
			}
		}
	}
	#bottom {
		padding-top: 20px;
		width: 80%;
		margin: 0 10%;
		p {
			text-align: center;
			width: 100%;
			font-size: 18px;
			color: @grey;
			.os;
			span {
				.osbold;
				text-transform: uppercase;
			}
		}
	}
}


















